<div class="main-chat">
  <div class="main-chat-info">
    <div class="main-room">
      <div class="main-room-name">techroom1</div>
    </div>
    <div class="main-dele">
      <div class="main-dele-room">
        <a href="#">チャットを終了す</a>
      </div>
    </div>
  </div>
  <div class="main-chat-contents">
    <div class="msg_block">
      <div class="user_name_and_time">
        <div class="msg_user_name">Tom</div>
        <div class="msg_time">2024/4/9(TUE) 21:21:30</div>
      </div>
      <div class="msg_content">こんばんは</div>
    </div>
    <div class="msg_block">
      <div class="user_name_and_time">
        <div class="msg_user_name">John</div>
        <div class="msg_time">2024/4/9(TUE) 21:22:30</div>
      </div>
      <div class="msg_content">こんばんは</div>
    </div>
  </div>
  <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>
